<!-- filepath: /Users/admin/Developer/flask_app/templates/500.html -->
{% extends "base.html" %}
{% block title %}Internal Server Error{% endblock %}

{% block content %}
<main style="
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
">
    <h1 style="color:var(--primary)">Oops! Something went wrong on our end.</h1>
    <hr style="align-self: stretch; margin: 1rem 0;">
    <p>There was a problem processing your request. Please try again later.</p>
    <p>If the problem persists, please email us at <strong><a
                href="mailto:support@captionyx.com">support@captionyx.com</a></strong></p>
</main>
{% endblock %}