{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/about.css">
{% endblock %}

{% block content %}
<main>
    <section>
        <h1>About</h1>
        <p>Welcome to Captionyx! We provide an effortless way to generate and translate subtitles for your videos. Our
            seamless Telegram integration allows you to quickly receive subtitles by simply sending your video to our
            bot.
        </p>
        <p>Our mission is to make video content accessible to everyone, regardless of language barriers.</p>
        <p>If you would like to support our mission, please consider making a donation.</p>
        <a href="https://buymeacoffee.com/subtitlesgeneratorbot" class="button" target="_blank">
            <i class="fas fa-coffee" style="margin-right: 5px;"></i>
            Donate
        </a>
    </section>
</main>
{% endblock %}