{% extends "base.html" %} {% block title %}Privacy policy{% endblock %} {% block
content %}
<main>
  <section>
    <h2>Privacy Policy</h2>
    <p>
      At Captionyx, we are committed to protecting your privacy. This Privacy
      Policy outlines how we collect, use, and safeguard your information.
    </p>
    <h2>Information Collection</h2>
    <p>
      We collect information that you provide directly to us, such as when you
      create an account, upload videos, or communicate with us. This may include
      your name, email address, and any other information you choose to provide.
    </p>
    <h2>Use of Information</h2>
    <p>
      We use the information we collect to provide, maintain, and improve our
      services. This includes processing your video uploads, generating
      subtitles, and communicating with you about your account and our services.
    </p>
    <h2>Information Sharing</h2>
    <p>
      We do not share your personal information with third parties except as
      necessary to provide our services, comply with the law, or protect our
      rights.
    </p>
    <h2>Data Security</h2>
    <p>
      We implement reasonable security measures to protect your information from
      unauthorized access, use, or disclosure. However, no method of
      transmission over the internet or electronic storage is completely secure.
    </p>
    <h2>Changes to This Policy</h2>
    <p>
      We may update this Privacy Policy from time to time. We will notify you of
      any changes by posting the new policy on our website. You are advised to
      review this Privacy Policy periodically for any changes.
    </p>

    <h2>GDPR Compliance</h2>
    <p>
      Captionyx is committed to complying with the General Data Protection
      Regulation (GDPR). We ensure that your personal data is processed
      lawfully, fairly, and transparently. You have the right to access,
      rectify, or delete your personal data at any time. If you wish to exercise
      these rights, please contact us at
      <a href="mailto:support@captionyx.com"><b>support@captionyx.com</b></a>
    </p>

    <p></p>
  </section>
</main>
{% endblock %}
