{% extends 'base.html' %}
{% block title %}Forgot Password{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/auth.css">
{% endblock %}

{% block content %}
<main>
    <div class="form-container">
        <h1>Forgot Password</h1>
        <p>Please enter your registered email address. We will send you instructions to reset your password.</p>

        <form method="POST" action="{{ url_for('forgot_password') }}" onsubmit="return validateForms()"
            style="box-shadow: none; padding: 0;">
            <div class="form-group">
                <label for="email">Email <span style="color: red;">*</span></label>
                <div class="input-container">
                    <i class="fas fa-envelope"></i>
                    <input type="email" id="email" name="email" required placeholder="Enter your email"
                        value="{{ email | default('') }}" maxlength="50">
                </div>
                <small id="email-error" style="color: red; margin-top: 0.5rem; display: none;"></small>
            </div>

            {% if error %}
            <p style="color: red;">{{ error }}</p>
            {% endif %}
            {% if message %}
            <p style="color: green;">{{ message }}</p>
            {% endif %}

            <button type="submit" class="button">
                Send Email
            </button>
        </form>
    </div>
</main>

<script>
    function validateForms() {
        const email = document.getElementById('email').value;
        const errorMessage = document.getElementById('email-error');
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!emailRegex.test(email)) {
            errorMessage.style.display = 'block';
            errorMessage.textContent = 'Please enter a valid email address.';
            return false;
        } else {
            errorMessage.style.display = 'none';
            return true;
        }
    }
</script>
{% endblock %}