{% extends 'base.html' %}
{% block title %}Sign in{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/auth.css">
<script>
    (function () {
        var buttonType = window.innerWidth < 600 ? 'icon' : 'standard';
        window.googleSignInConfig = {
            type: buttonType,
        };
    })();
</script>
<script src="https://accounts.google.com/gsi/client" async defer></script>
<style>
    body {
        padding: 0;
    }
</style>
{% endblock %}


{% block content %}
<main>
    <section class="login-container">
        <h1>Sign in</h1>
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-group input-icon">
                <label for="username_or_email">Email or username:</label>
                <div class="input-container">
                    <i class="fas fa-envelope"></i>
                    <input type="text" id="username_or_email" name="username_or_email" required
                        placeholder="Enter your email" value="{{ username_or_email | default('') }}">
                </div>
            </div>

            <div class="form-group input-icon">
                <label for="password">Password:</label>
                <div class="input-container">
                    <i class="fas fa-lock"></i>
                    <input type="password" id="password" name="password" required placeholder="Enter your password">
                </div>
            </div>
            <a class="link" href="/auth/forgot_password"
                style="display:block; text-align: right; font-size: 0.9rem;">Forgot
                password?</a>
            {% if error %}
            <p style="color: red; margin-bottom: 1rem;">{{ error }}</p>
            {% elif message %}
            <p style="color: green; margin-bottom: 1rem;">{{ message }}</p>
            {% endif %}
            <button type="submit" class="button">Sign in</button>
        </form>
        <p style="text-align: center; font-size: 1rem;">Don't have an account? <a class="link"
                href="{{ url_for('register') }}">Sign Up</a></p>

        </p>
        <p style="text-align: center; font-size: 1rem; margin-bottom: 1rem;" class="p line">Or With</p>
        <div class="social-login-buttons">
            <div class="social-button" id="telegram-login-button">
                <script async src="https://telegram.org/js/telegram-widget.js?7"
                    data-telegram-login="SubtitlesGeneratorBot" data-size="large" data-userpic="false"
                    data-request-access="write" data-onauth="onTelegramAuth(user)">
                    </script>
            </div>
            <div class="social-button" id="google-login-button">
                <div id="google-signin-container"></div>
            </div>
        </div>
        </form>

    </section>


    <script>
        function onTelegramAuth(user) {
            fetch('/auth/telegram-login', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify(user)
            })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    } else {
                        return response.json();
                    }
                })
                .then(data => {
                    if (data && data.redirect_url) {
                        window.location.href = data.redirect_url;
                    }
                })
                .catch(error => console.error('Error:', error));
        }
        // show icon on mobile, standard on desktop
        document.addEventListener("DOMContentLoaded", function () {
            var config = window.googleSignInConfig || { type: 'standard' };
            var googleButtonHTML =
                '<div id="g_id_onload" ' +
                'data-client_id="612951769125-keb4f56moc9g8il5vs8ks040hcdkmnfq.apps.googleusercontent.com" ' +
                'data-login_uri="/auth/google_login" ' +
                'data-auto_prompt="false">' +
                '</div>' +
                '<div class="g_id_signin" ' +
                'data-type="' + config.type + '" ' +
                'data-size=large"' +
                'data-theme="outline" ' +
                'data-text="sign_in_with" ' +
                'data-shape="circle" ' +
                'data-logo_alignment="left">' +
                '</div>';
            document.getElementById('google-signin-container').innerHTML = googleButtonHTML;
        });
    </script>
</main>

{% endblock %}