{% extends 'base.html' %}
{% block title %}Sign up{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="/static/auth.css">
<script src="https://accounts.google.com/gsi/client" async defer></script>

{% endblock %}



{% block content %}
<main>
    <section>
        <div class="register-container">
            <div class="google-signup-container">
                <h1>Sign up with</h1>
                <div class="google-singup-button">
                    <div id="g_id_onload"
                        data-client_id="612951769125-keb4f56moc9g8il5vs8ks040hcdkmnfq.apps.googleusercontent.com"
                        data-login_uri="/auth/google_register_callback" data-auto_prompt="false">
                    </div>

                    <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline"
                        data-text="signup_with" data-shape="circle" data-logo_alignment="left">
                    </div>
                </div>
            </div>
            <div class="normal-register-container">
                <h1>Sign up with Email</h1>

                <form method="POST" action="{{ url_for('register') }}" onsubmit="return validateForms()"
                    style="box-shadow: none; padding:0;">

                    <div class="form-group">
                        <label for="name">Name <span style="color: red;">*</span></label>
                        <input type="text" id="name" name="name" required placeholder="Enter your name"
                            value="{{ name | default('') }}" minlength="2" maxlength="50">
                    </div>

                    <div class="form-group">
                        <label for="email">Email <span style="color: red;">*</span></label>
                        <input type="email" id="email" name="email" required placeholder="Enter your email"
                            value="{{ email | default('') }}" maxlength="50">
                        <small id="email-error" style="color: red; margin-top: 0.5rem; display: none;"></small>
                    </div>

                    <div class="form-group">
                        <label for="username">Username <span style="color: red;">*</span></label>
                        <input type="text" id="username" name="username" required placeholder="Enter your username"
                            value="{{ username | default('') }} " minlength="3" maxlength="20">
                    </div>
                    <small id="username-error" style="margin: 0.5rem 0; display: none; text-align: left;">Username is
                        already
                        taken</small>
                    <div class="form-group">
                        <label for="password">Password <span style="color: red;">*</span></label>
                        <input type="password" id="password" name="password" required minlength="8"
                            placeholder="Enter your password" maxlength="30">
                    </div>

                    <div class="form-group">
                        <label for="confirm_password">Confirm Password <span style="color: red;">*</span></label>
                        <input type="password" id="confirm_password" name="confirm_password" required minlength="8"
                            placeholder="Confirm your password" maxlength="30">
                        <small id="password-error" style="color: red; margin-top: 0.5rem; display: none;">Passwords do
                            not
                            match</small>
                    </div>
                    {% if error %}
                    <p style="color: red;">{{ error }}</p>
                    {% endif %}

                    <button type="submit" class="button">Sign up</button>


                </form>

            </div>
        </div>
    </section>

</main>



<script>
    function validateForms() {
        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirm_password").value;
        let passwordError = document.getElementById("password-error");

        if (password !== confirmPassword) {
            passwordError.style.display = "block";
            return false;
        } else {
            passwordError.style.display = "none";
        }
        return true;
    }
    // Real-time validation for matching passwords
    document.getElementById("confirm_password").addEventListener("input", function () {
        let password = document.getElementById("password").value;
        let confirmPassword = this.value;
        let passwordError = document.getElementById("password-error");
        passwordError.style.display = (password !== confirmPassword) ? "block" : "none";
    });

    document.getElementById("username").addEventListener("blur", function () {
        const username = this.value;
        if (!username) {
            return;
        }
        fetch("{{ url_for('check_username') }}?username=" + encodeURIComponent(username), {
            method: "GET",
            headers: { "Content-Type": "application/json" },
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                let errorEl = document.getElementById("username-error");
                errorEl.style.display = "block";

                if (data.exists) {
                    errorEl.innerText = "Username already exists";
                    errorEl.style.color = "red";
                } else {
                    errorEl.innerText = "Username is available";
                    errorEl.style.color = "green";
                }
            });
    });
    document.getElementById("email").addEventListener("blur", function () {
        const email = this.value;
        if (!email) {
            return;
        }
        let errorEl = document.getElementById("email-error");

        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/
        if (!emailPattern.test(email)) {
            errorEl.style.display = "block";
            errorEl.innerText = "Email is not valid";
            return;
        }
        fetch("{{ url_for('check_email') }}?email=" + encodeURIComponent(email), {
            method: "GET",
            headers: { "Content-Type": "application/json" },
        })
            .then(response => response.json())
            .then(data => {
                if (data.exists) {
                    errorEl.style.display = "block";
                    errorEl.innerHTML = "Email is taken. <a href='{{ url_for('login') }}' style='color: purple; text-decoration: underline;'>Login</a>";
                } else {
                    errorEl.style.display = "none";

                }
            });
    });
</script>
{% endblock %}